body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #141E30 60%, #243B55);
    color: #faf6f9;
    overflow: auto;
}

.intro-section > h1{
    font-size: 3rem;
    margin: 0px;
    text-align: center;
}

.intro-section > p{
    text-align: center;
    padding: 0 10px;
    font-size: 1.2rem;
}

.text-aqua{
    color: #CBA6F7;
}

.text-gold{
    color: #FFCC70;
}

.main-content{
    margin: auto 0;
    width: 100%;
    max-width: 1200px;
}

.links-section{
    width: 100%;
    display: flex;
    /* background-color: #CBA6F7; */
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px 10px;
    justify-content: center;
    gap: 15px;
}

.link-box{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px #CBA6F7;
    border-radius: 30px;
    padding: 15px 20px;
}

.link-box > span{
    margin: 0px;
    font-size: 18px;
}

.site-link{
    color: #CBA6F7;
    font-size: 1.5rem; 
}

.site-link:hover{
    color: #FFCC70;
}

.github-link{
    color: #CBA6F7;
    font-size: 1.6rem;
}

.github-link:hover{
    color: aqua;
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

footer > div{
    display: flex;
    gap: 10px;
}

.link-item{
    color: #CBA6F7;
    text-decoration: none;
    font-size: 12px;
}

.link-item:hover{
    color: #faf6f9;
}